* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: calc(100vh + 10vh);
    background-image: linear-gradient(to top, rgba(0,0,0,0.9),rgba(0,0,0,0.2),rgba(0,0,0,0.9)), url(https://assets.nflxext.com/ffe/siteui/vlv3/5eab1b22-c5ea-48b0-8ef4-862b3fa6df2c/e630dd10-1a25-4ce7-84fc-81fa5897e400/NG-en-20230724-popsignuptwoweeks-perspective_alpha_website_large.jpg);
background-size: cover;
background-position: center;
}

#logo {
    width: 8rem;
}

.header {
    width: 75vw;
   min-height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  0 auto ;
    
}